#TabsToolbar {
  visibility: collapse !important;
}

#sidebar-header {
  /* display: none; */
  font-size: 1em;
  padding: 2px !important;
}

#sidebar-close {
  display: none;
}

#sidebar-switcher-arrow {
  display: none;
}

#sidebar-switcher-target {
  width: 100%;
}

#sidebar-title {
  display: none;
}

#sidebar {
  max-width: none !important;
  width: 100% !important;
  /* min-width: 10% !important; */
  /* min-width: 40em; */
}

#sidebar-box {
  width: 40em;
}
