#TabsToolbar {
  visibility: collapse !important;
}

#navigator-toolbox {
  font-family: "Jost*" !important;
  font-size: 1.1rem !important;
}
 
#sidebar-header {
  /* display: none; */
  font-size: 1em;
  padding: 2px !important;
  border: 0px !important;
  background-color: var(--toolbar-bgcolor);
  /* #2B2A33 */
}

#navigator-toolbox {
  border-bottom: 0px !important;
}

#sidebar-close {
  display: none;
}

#sidebar-switcher-arrow {
  display: none;
}

#sidebar-switcher-target {
  width: 100%;
}

#sidebar-title {
  display: none;
}

#sidebar {
  max-width: none !important;
  width: 100% !important;
  /* min-width: 10% !important; */
  /* min-width: 40em; */
}

#sidebar-box {
  width: 40em;
}
